<appSettings>      
    <add key="luisModelId" value="31511772-4f1c-4590-87a8-0d6b8a7707a1" />
    <add key="luisSubscriptionKey" value="f75088dfa2a5478a822f3f193d34d18f" />
    <add key="qnaHostServiceEndpoint" value="https://westus.api.cognitive.microsoft.com/qnamaker/v2.0/" />
    <add key="qnaModelId" value="34aeee3d-51f6-42d4-bcb3-b8e8c1c1b88e" />
    <add key="qnaSubscriptionKey" value="d24b3b5df8b541cabfab6d4b12646ca0" />

    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="YourBotId" />
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />

    <add key="tokenEndpoint" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken"/>
    <add key= "translatorEndpoint" value = "http://api.microsofttranslator.com/v2/Http.svc/Translate"/>
  <add key= "detectLanguageEndpoint" value = "https://api.microsofttranslator.com/V2/Http.svc/Detect"/>
  <add key= "TranslatorApiKey" value="60d3de534d1a42ab824521d18b98fe0a"/>
</appSettings>